{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>Register</h1>
	<div class="container m-auto">
		{{ form_errors(registrationForm) }}
		<div class="row flex-wrap">
			{{ form_start(registrationForm, { 'attr': {'class': 'row', 'novalidate': 'novalidate'} }) }}
			<div class="col-6">
				{{ form_row(registrationForm.firstName) }}
			</div>
			<div class="col-6">
				{{ form_row(registrationForm.lastName) }}
			</div>
			<div class="col-12">
				{{ form_row(registrationForm.adresse) }}
			</div>
			<div class="col-6">
				{{ form_row(registrationForm.code_postale) }}
			</div>
			<div class="col-6">
				{{ form_row(registrationForm.picture) }}
			</div>
			<div class="col-12">
				{{ form_row(registrationForm.email) }}
			</div>
			<div class="col-12">
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'}) }}
			</div>

			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" class="btn btn-success">Register</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
