<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home')}}">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_article_index')}}">Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_contact')}}">Contact</a>
        </li>
        {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_profile')}}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
        </li>
        {% else %}
          <li class="nav-item">
          <a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
        </li>
      {% endif %}
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
</nav>
