{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<h1>Article</h1>
	<div class="col-md-10 mx-auto">
		<h1>{{ article.title }}</h1>
		<img src="{{ asset('build/images/' ~ article.picture) }}" alt="{{ article.title }}">
		<p>{{ article.description }}</p>

	</div>

	<a class="btn btn-success" href="{{ path('app_article_index') }}">back to list</a>


	{{ include('article/_delete_form.html.twig') }}

	{% if app.user and 'ROLE_ADMIN' in app.user.getroles()  %}
		<a class="btn btn-warning" href="{{ path('app_article_edit', {'id': article.id}) }}">edit</a>
	{% endif %}

{% endblock %}
